@model UserModel

<div class="modal fade" id="join-room" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="join-room-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="join-room-label">Video Chat</h5>
            </div>
            <div class="modal-body">
                @*<div class="form-group">
                    <label id="room-name-label" for="room-name">Room Name</label>
                        <input id="room-name" class="form-control" type="text" />

                </div>
                <div class="form-group">
                        <label id="screen-name-label" for="screen-name">User Name</label>
                        <input id="screen-name" class="form-control" type="text" />
                </div>*@
                <div class="form-group">
                    <label class="input-label">Contacts</label>
                    <select class="form-control text-secondary" asp-for="ContactId" asp-items="@(new SelectList (Model.Contacts, "Value", "Text"))"></select>
                </div>
                <div id="erroralert" class="alert alert-warning" role="alert">
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-dark">Change Microphone and Camera</button>*@
                <button id="joinButton" type="button" class="btn btn-primary">Join</button>
            </div>
        </div>
    </div>
</div>